@import url(./__list/places__list.css);

.places {
    max-width: 984px;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1140px) {
    .places {
        width: 90%;
    }
}
@media screen and (max-width: 958px) {
    .places {
        width: 94%;
    }
}
@media screen and (max-width: 425px) {
    .places {
        width: 100%;
    }
} 