.place__image {
    width: 100%;
    max-height: 460px;
}

@media screen and (max-width: 1140px) {
    .place__image {
        max-width: 440px;
        max-height: 440px;
    }
}
@media screen and (max-width: 958px) {
    .place__image {
        max-width: 340px;
        max-height: 340px;
    }
}
@media screen and (max-width: 645px) {
    .place__image {
        max-width: 100%;
        max-height: 100%;
    }
}
