.cover__subtitle {
    max-width: 320px;
    margin: 0;
    position: relative;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: white;
    z-index: 1;
}


@media screen and (max-width: 425px) {
    .cover__subtitle {
        width: 90%;
        font-size: 14px;
        line-height: 16px;
    }
}

