@import url(./__lang-link/header__lang-link.css);
@import url(./__links/header__links.css);
@import url(./__logo/header__logo.css);
@import url(./__lang-link/_active/header__lang-link_active.css);

.header {
    max-width: 984px;
    margin: 34px auto 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1140px) {
    .header {
        width: 90%;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 958px) {
    .header {
        width: 94%;
    }
}
@media screen and (max-width: 425px) {
    .header {
        width: 90%;
        margin: 20px auto 50px;
    }
}
