.lead__subtitle {
    max-width: 620px;
    width: auto;
    margin: 32px auto 64px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    color: white; 
}

@media screen and (max-width: 1140px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 425px) {
    .lead__subtitle {
        width: 90%;
        margin: 16 auto 40px;
        font-size: 16px;
        line-height: 20px;
    }
}
