.intro__title {
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
    font-size: 54px;
    line-height: 58px;
    font-weight: 900;
    color: white;
}

@media screen and (max-width: 425px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}
